<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Gemgento_Push>
            <version>0.0.1</version>
        </Gemgento_Push>
    </modules>
    <global>
        <models>
            <gemgento_push>
                <class>Gemgento_Push_Model</class>
            </gemgento_push>
        </models>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <push>
                        <type>singleton</type>
                        <class>Gemgento_Push_Model_Observer</class>
                        <method>product_update</method>
                    </push>
                </observers>
            </catalog_product_prepare_save>
        </events>
    </global>
</config>
