<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Gemgento_Push>
            <version>0.0.1</version>
        </Gemgento_Push>
    </modules>
    <global>
        <models>
            <gemgento_push>
                <class>Gemgento_Push_Model</class>
            </gemgento_push>
        </models>
        <events>
            
            <!-- PRODUCTS -->
            <catalog_product_save_after>
                <observers>
                    <push>
                        <type>singleton</type>
                        <class>Gemgento_Push_Model_Observer</class>
                        <method>product_save</method>
                    </push>
                </observers>
            </catalog_product_save_after>
            
            <catalog_product_delete_before>
                <observers>
                    <push>
                        <type>singleton</type>
                        <class>Gemgento_Push_Model_Observer</class>
                        <method>product_delete</method>
                    </push>
                </observers>
            </catalog_product_delete_before>
            
            <!-- STOCK -->
            <cataloginventory_stock_item_save_after>
                <observers>
                    <push>
                        <type>singleton</type>
                        <class>Gemgento_Push_Model_Observer</class>
                        <method>stock</method>
                    </push>
                </observers>
            </cataloginventory_stock_item_save_after>
            
            <!-- CATEGORY -->
            <catalog_category_save_after>
                <observers>
                    <push>
                        <type>singleton</type>
                        <class>Gemgento_Push_Model_Observer</class>
                        <method>category</method>
                    </push>
                </observers>
            </catalog_category_save_after>
            
            <!-- ATTRIBUTE SET -->
            <eav_entity_attribute_set_save_after>
                <observers>
                    <push>
                        <type>singleton</type>
                        <class>Gemgento_Push_Model_Observer</class>
                        <method>attribute_set</method>
                    </push>
                </observers>
            </eav_entity_attribute_set_save_after>
            
            <!-- ATTRIBUTE -->
            <catalog_entity_attribute_save_after>
                <observers>
                    <push>
                        <type>singleton</type>
                        <class>Gemgento_Push_Model_Observer</class>
                        <method>attribute</method>
                    </push>
                </observers>
            </catalog_entity_attribute_save_after>
            <eav_entity_attribute_save_after>
                <observers>
                    <push>
                        <type>singleton</type>
                        <class>Gemgento_Push_Model_Observer</class>
                        <method>attribute</method>
                    </push>
                </observers>
            </eav_entity_attribute_save_after>
            
            <!-- CUSTOMER -->
            <customer_save_after>
                <observers>
                    <push>
                        <type>singleton</type>
                        <class>Gemgento_Push_Model_Observer</class>
                        <method>customer</method>
                    </push>
                </observers>
            </customer_save_after>
            
            <!-- ORDER -->
            <sales_order_save_after>
                <observers>
                    <push>
                        <type>singleton</type>
                        <class>Gemgento_Push_Model_Observer</class>
                        <method>order</method>
                    </push>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
</config>
