<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
         <Gemgento_Paygate>
            <version>0.0.1</version>
        </Gemgento_Paygate>
    </modules>
    <global>
        <models>
            <paygate>
                <rewrite>
                    <authorizenet>Gemgento_Paygate_Model_Authorizenet</authorizenet>
                </rewrite>
            </paygate>
        </models>
   </global>
</config>
