<config>
    <modules>
        <Gemgento_RecurringProfile>
            <version>0.0.1</version>
        </Gemgento_RecurringProfile>
    </modules>
    <global>
        <models>
            <recurringProfile>
                <class>Gemgento_RecurringProfile_Model</class>
            </recurringProfile>
        </models>
    </global>
</config>
