<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
         <Gemgento_Payment>
            <version>0.0.1</version>
        </Gemgento_Payment>
    </modules>
    <global>
        <models>
            <payment>
                <rewrite>
                    <method_cc>Gemgento_Payment_Model_Method_Cc</method_cc>
                </rewrite>
            </payment>
        </models>
   </global>
</config>
